<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paly Alumni About Page</title>
    <!--Is the linking correct?-->
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
	<!--Image for logo to come-->
	<h1>Paly Alumni</h1>
      </div>	
    </div>

    <!--Navbar stuff below-->

    <!--Orbit slider stuff below-->

    <div class="row">
      <div class="large-12 column">
	<h3></h3>
	<div><!-- content-->
	</div>
      </div>
    </div>
    
    <script src="/assets/foundation/js/vendor/jquery.js"></script>
    <script src="/assets/foundation/js/vendor/what-input.js"></script>
    <script src="/assets/foundation/js/vendor/foundation.js"></script>
    <script src="/assets/foundation/js/app.js"></script>
  </body>
</html>

