<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paly Alumni Contact Them Page</title>
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/app.css">
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
	<h1>Paly Alumni</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-8 columns">
	<div><!--for paragraph one-->
	</div>
	
	<hr />

	<div><!-- for paragraph two-->
	</div><!--Close P2-->

      </div><!--close l8 columns-->

      <div class="large-4 columns">
      </div>

    </div>

    <script src="/assets/foundation/js/vendor/jquery.js"></script>
    <script src="/assets/foundation/js/vendor/what-input.js"></script>
    <script src="/assets/foundation/js/vendor/foundation.js"></script>
    <script src="/assets/foundation/js/app.js"></script>
  </body>
  </html>
