<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paly Alumni Home Page</title>
    <link rel="stylesheet" href="/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="/assets/foundation/css/app.css">
  </head>
  <body>


    <div class="row">
      <div class="large-12 columns">
	  <h1>Paly Alumni</h1>
	</div>
    </div>

    <div class = "row">
      <div class="large-8 columns">

	<div><!-- on paper this is labeled as Blog Post-->
	</div>

	<div><!--On paper this is labeled as Another Update Thing-->
	</div>
	
      </div><!-- close l8c-->

      <div class="large-4 columns">
	<div><!--On paper labeled as announcements-->
	</div>

	<div><!--On paper labeled as announcements-->
	</div>
	
      </div><!--close l4c-->
      
      
    </div><!-- Close content row-->


    <script src="/assets/foundation/js/vendor/jquery.js"></script>
    <script src="/assets/foundation/js/vendor/what-input.js"></script>
    <script src="/assets/foundation/js/vendor/foundation.js"></script>
    <script src="/assets/foundations/js/app.js"></script>
  </body>
</html>

